datasets==3.6.0
numpy==1.25.0
ollama==0.4.8
pandas==2.2.3
pydantic==2.11.4
python-dotenv==1.1.0
spacy==3.8.5
streamlit==1.45.1
torch==2.7.0
tqdm==4.67.1
transformers==4.51.3
evaluate==0.4.3
rouge_score==0.1.2
bert_score==0.3.13
absl-py==2.2.2
nltk==3.9.1